/*
			Sass.scss (gulp) 
			http://cdn.xgqfrms.xyz/css/common.css
		*/
		$ g_color = #0f0;
		*{
			background: rgba(0,0,0,0.7);
			color: rgba(0,255,0,0.7);
			box-sizing: border-box;
			margin: 100px auto;
			justify-content: center;
			align-content: center;
		}
		/* media quire*/
		@media all and (max-width: 360px) {
			/**/			
		}
		/*web-fonts*/
		@font-face{
			font-family: 'FontAwesome';
			src: url('../font/fontawesome-webfont.wolf?v=4.40'),
					('../font/fontawesome-webfont.eot?v=4.40'),
					('../font/fontawesome-webfont.ttf?v=4.40'),
					('../font/fontawesome-webfont.svg?v=4.40')
			;
			font-style: normal;
			font-weight: normal;
		}
		/*browser support check*/
		@supports not(display:flex){
			div{
				float: right;
			}
		}
